@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{

    
    margin:0;
    display:flex;
    height: 100vh;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1440px;
   
}

.head-logo{
    margin-left: 60px;
}
.head{
    display: flex;
}
.head-text{
    display: flex;
    margin-right: 0px;
    margin-left: 400px;
    margin-top: 20px;
}
.head a{
    margin-left: 40px;
    color: whiet;
}




.main{
    text-align:start;
    margin-top: 170px;
    margin-left: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 3px 4px gray;

   
}

.insta{
    display: flex;
    margin-top: 20px;
}
.insta h4{
  margin-left: 2px;
  margin-top: 2px;
}
hr{
    color: black;
}
.main h1{
    color: white;
}

.main h3{
    color: white;
}
a {
    border-radius: 3px;
    height: 20px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

  h1{
    color: white;
  }
  .btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-weight: bold;
background: #1E90FF;
width: 120px;
padding: 12px;
margin-left: 50px;
margin-top: -10px;
text-transform: uppercase;
text-align: center;
color: #fff;
border-radius: 5px;
cursor: pointer;
box-shadow:0 0 10px rgb(0, 0, 0, 0.1) ;
  }

  .btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(187, 185, 185, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .btn a{
   position: absolute;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .tele{
    margin-left: 110px;
    margin-top: -20px;
    display: flex;
  }
  .tele h4{
    margin-left: 4px;
    
  }

  h4{
    margin:0;
    padding:0;
    
    text-transform:uppercase;
    position:relative;
    color:#ccc;
  }
 .main h4:before{
    content:"kom1ilov";
    position:absolute;
    color:#262626;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 0.5s;
  }
  h4:hover:before{
    width:100%;
  }


 .head button{
  
    width: 100px;
    height: 40px;
    margin-left: 50px;
    border: none;
    margin-top: -10px;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }
.head button p{
  position:relative;
}



 
.check-box{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.check-box svg{
  width: 40px;
  margin: 20px;
}


.active{
  background:#c798a8;
  transition: 1s;
}


.active .check-box{
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p{
  margin-right: 125px;
  transition: 1s;
}

.check-box svg path{
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}
h2{
  color: white;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about{
  margin-top: 400px;
  background-color: black;
  width: 1207px;
display: flex;
}
.about h1{
  text-align: center;
}
.h2{
  margin-top: 40px;
}
.h22{
margin-left: 100px;
margin-top: 30px;
}
.aus{
  text-align: center;
  margin-top: 350px;
  position:absolute;
  margin-left: 350px;
}
section{
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.about{
  background-color: white;
margin-top: 1px;
  
}

.about-h1{
 position: absolute;
margin-left: 520px;
font-size: 30px;

}

.about-text h2{
  color: #2f2f2f;
}

/* hero */
#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg") top center ;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about li{
  margin-top: 40px;
}

.about .content ul strong {
  margin-right: 10px;
}

.about  ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}
.row{
  display: flex;
}
.col-lg-6{
  margin-left: 40px;
  margin-top: 20px;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
.portfolio{
background-color: white;
margin-top: 140px;

}
.portfolio h1,h2{
  font-family:unset;
  color: black;
}
.portfolio-text{
height: 200px;
  background-color: rgb(232, 235, 238);
 
}
.portfolio-text h1,h2{
  margin-left: 30px;
  margin-top: 30px;
}
.prt-img{
  display: flex;
  margin-top: 180px;
  margin-left: 30px;
}
.prt-img2{
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.porfolio-img-btn{
  text-align: center;
  margin-top: 190px;
 justify-content: center;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:antiquewhite;
  border-radius: 10px;
  width: 300px;
 margin-left: 430px;
 height: 50px;

 
}

.porfolio-img-btn a{
  margin-top: 10px;
  margin-left: 5px;
}

.porfolio-img-btn a:hover{
color: #149ddd;
background-color:#18302c;

}

.porfolio-img-btn h1{
  margin-left: 10px;
}
.porfolio-img-btn h1:hover{
  color: #149ddd;
}

.portfolio-img{
  margin-left: 30px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.contact{
  background-color: white;
  margin-top: 150px;
}




-----------------------------------------------------------*/
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  margin-top: 300px;
}

#footer .footer-top {
  background: #0c1817;
  border-bottom: 1px solid #18302c;
  padding: 60px 0 30px 0;
  margin-top: 200px;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}



#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  margin-left: 70px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #4ae3c6;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #34dfbf;

}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  margin-left: 10px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1bac91;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  margin-left: 50px;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #14806c;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.footer-info h3{
  color: white;
}



@media  screen and (max-width: 767px) {
 .head{
  
 }

.main{
  width: 300px;
    
  
}

}

